*.iml
.gradle
.gradle-user
/local.properties
/.idea/caches
/.idea
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
.gitconfig-codex
/build
app/build
app/release
/captures
.externalNativeBuild
.cxx
local.properties
